
Host ilt_*
  StrictHostKeyChecking no
  ForwardAgent yes
  ForwardX11 no
  #  PreferredAuthentications publickey

Host ilt_foundation
  User kiosk
  Hostname {{ kvm_foundation_ip }}
  Port 22
  IdentityFile ~/.ssh/gls_instructor_id_rsa

Host ilt_workstation
  User student
  Hostname 172.25.250.9
  Port 22
  IdentityFile ~/.ssh/lab_rsa
  ProxyJump ilt_foundation
